.blocauto {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.blocauto #text {
  font-size: 2em;
  font-weight: 500;
  color: #fff;
}

.blocauto .sousauto {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.blocauto .inputbloc {
  display: flex;
  align-items: center;
  gap: 6px;
}

.blocauto #speed {
  width: 50px;
  height: 40px;
  padding: 5px;
  font-size: 18px;
  background-color: #6554ff;
  border: none;
  text-align: center;
  border-radius: 10px;
}

.blocauto input:focus {
  outline: none;
}
